@charset "UTF-8";

/* グローバル設定 */
html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}

li {
  list-style: none;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: #fffeee;
  font-family: "遊ゴシック", "Yu Gothic", YuGothic, sans-serif;
}

/* ヘッダーのスタイル */
header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10; /* ヘッダーを前面に表示する */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加して視覚的な分離感を出す */
}

.header-container {
  width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-img {
  height: 96px;
}

header nav {
  display: flex;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li {
  margin-right: 15px;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a {
  color: black;
  border-bottom: none;
}

h1 img {
  width: 100%;
}

/* セクション設定 */
section {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  padding-top: 96px; /* ヘッダーの高さ分の余白を追加 */
}

/* リストスタイル */
.case-list {
  counter-reset: case;
  font-size: 3rem;
  line-height: 3;
}

.case-list > li {
  counter-increment: case;
}

.case-list > li:before {
  content: "Case." counter(case);
  font-weight: bold;
  margin-right: 5px;
  border-bottom: solid 3px #ffbf1f;
}

article + article {
  padding-top: 80px;
}

/* ファーストビュー設定 */
.first-view {
  border-right: solid 10px #ffbf1f;
  border-left: solid 10px #ffbf1f;
  border-bottom: solid 10px #ffbf1f;
  background-color: #fffeee;
}

.first-view_pre-service-name {
  font-size: 4.5rem;
  text-align: center;
}

.first-view_service-name {
  color: #ffbf1f;
  font-size: 7.5rem;
  text-align: center;
}

/* 画像を重ねて配置 */
.images-container {
  position: relative;
  width: 800px;
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 各画像のスタイル */
.img {
  position: absolute;
  transition: transform 0.3s;
}

/* 画像の重なり具合を調整 */
.img1 {
  left: 50%;
  transform: translate(-50%);
}

.img2 {
  left: 50%;
  transform: translate(-50%, 450px); /* img1の下に少し被るように調整 */
  opacity: 0.9;
}

.images-container:hover .img2 {
  transform: translate(-50%, 450px) scale(1.1);
}

/* CTAボタンのスタイル */
.cta {
  margin-top: 300px;
  text-align: center;
}

.cta-text {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2a9d8f;
  font-weight: bold;
}

.cta a {
  display: inline-block;
  padding: 20px 40px;
  background-color: #ffbf1f;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.cta a:hover {
  background-color: #e6a91f;
}

/* 見出しの設定 */
h2 {
  font-size: 6rem;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: #ffbf1f;
}

h3 {
  border-bottom: solid 3px #ffbf1f;
  font-size: 3.6rem;
  max-width: 840px;
  width: 100%;
  margin-bottom: 40px;
}

.lists:not(:first-child) {
  margin-top: 20px;
}

/* リスト設定 */
article ul {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3;
  list-style-type: disc;
  list-style-position: inside;
}
/* Second-Viewのスタイル */
.second-view {
  background-color: #fffeee;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serviceContainer {
  max-width: 1200px;
  width: 100%;
}

.issuesList {
  font-size: 2.5rem;
  line-height: 2.5;
  margin-bottom: 40px;
}

.issuesList > li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}

.issuesList > li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #ffbf1f;
  font-size: 3rem;
}

.highlightTitle {
  font-size: 5rem;
  color: #ffbf1f;
  margin-bottom: 40px;
  text-align: center;
}

.featureSection {
  font-size: 2.4rem;
  max-width: 1000px;
  margin-bottom: 60px;
}

.featureSection h3 {
  font-size: 3.5rem;
  color: #ffbf1f;
  margin-bottom: 20px;
}

.price {
  font-size: 3rem;
  color: #df0f0f;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
  color: #2a9d8f;
}

.note {
  font-size: 1.8rem;
  color: #777;
  margin-top: 10px;
}

/* サービスの詳細 */
.main-image {
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
}
.serviceDetail {
  background-color: #fffeee;
  padding: 60px 20px;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 380px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  color: #ffbf1f;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 1.8rem;
  color: #616161;
}
/* 店舗検索セクションのスタイル */
/* 店舗検索セクションのスタイル */
.storeSearch {
  background-color: #f7f7f7;
  padding: 60px 20px;
  text-align: center;
  margin: 40px 0;
}

.storeSearch h2 {
  font-size: 4rem;
  color: #ffbf1f;
  margin-bottom: 20px;
}

.formButton {
  margin-top: 20px;
}

/* 派手なボタンのスタイル */
.searchButton {
  display: inline-block;
  padding: 15px 30px;
  background: linear-gradient(45deg, #ffbf1f, #ff6422);
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.searchButton:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* アニメーションの追加 */
.searchButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-45deg);
  transition: left 0.3s;
}

.searchButton:hover::before {
  left: 100%;
}

/* 会社情報のスタイル */

.company {
  background-color: #fffeee;
}
.company dl {
  display: grid;
  grid-template-columns: 20% 80%;
  max-width: 1200px;
  width: 100%;
  border-top: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
}

.company dd,
dt {
  padding: 20px;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.company dt {
  background-color: #f7f7f7;
}

/* フォームのスタイル */
form {
  max-width: 1200px;
  width: 100%;
  font-size: 2.3rem;
  padding: 60px;
  border: solid 5px;
  background-color: #f7f7f7;
}

form p {
  font-weight: bold;
}

.form_erea {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  row-gap: 40px;
}

.form-service {
  grid-column: 1 / 3;
}

.form-gender_right {
  display: flex;
  column-gap: 20px;
}

.form-service_right,
.form-message_right {
  margin-top: 20px;
}

.form-message {
  grid-column: 1 / 3;
}

.form-service_right {
  display: flex;
  column-gap: 20px;
}

.form-button {
  margin-top: 60px;
  text-align: center;
}

input.form-name {
  width: 300px;
  padding: 8px;
  height: 50px;
  background-color: #fff;
  border-style: solid;
}

.imput_wrap {
  display: flex;
  align-items: center;
}

.imput_wrap label {
  margin-left: 6px;
}

select.region {
  width: 300px;
  padding: 8px;
  height: 50px;
  background-color: #fff;
  border-style: solid;
  text-align: center;
}

.vertical_location {
  vertical-align: middle;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 8px;
  background-color: #fff;
  border-style: solid;
}

.form-sendbutton {
  width: 300px;
  height: 65px;
  font-weight: bold;
  background-color: #fbf9db;
  border: double;
  border-radius: 10px;
}

.form-sendbutton:hover {
  background-color: #ffbf1f;
}

.customerTestimonial div {
  display: flex;
  align-items: baseline;
}

.customerTestimonial div img {
  border-radius: 10px;
  width: 90px;
}

.customerTestimonial + .customerTestimonial {
  margin: 50px 0 0;
}

.customerTestimonial .customer {
  margin: 0 0 0 10px;
  font-size: 28px;
  font-weight: bold;
}

.customerTestimonial .voice {
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ffa143;
  border-radius: 0 12px 12px 12px;
}

.membershipLink {
  justify-content: center;
  background-color: #ffe195;
  height: 800px;
}

.membershipLink img {
  width: 70%;
}

.membershipLink a {
  margin: 120px 0 0;
  display: block;
  background-color: #ff6422;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 58px;
  width: 800px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 7px 0px 0px rgb(0, 0, 0);
  transition: 0s;
}

.membershipLink a:hover {
  background-color: #ff6422;
  box-shadow: none;
  position: relative;
  top: 7px;
  opacity: 1;
}

/* faqのスタイル */
.faq {
  flex-direction: row;
  color: #616161;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

.faq .faqContainer {
  padding: 0 20px;
}

.faq .questionAndAnswer {
  font-size: 24px;
  padding: 18px;
  background-color: #fff3b8;
  border-radius: 10px;
}

.questionAndAnswer + .questionAndAnswer {
  margin-top: 20px;
}

.questionAndAnswer p + p {
  margin-top: 8px;
}

.questionAndAnswer span {
  color: rgb(238, 93, 3);
  font-weight: bold;
}

/* フッターのスタイル */
footer {
  background-color: #ffbf1f;
}

footer a {
  text-decoration: none;
  color: #303030;
}

footer p {
  font-size: 24px;
}

footer p + p {
  margin-top: 10px;
}

.footerContainer {
  padding: 40px 60px;
}
